<section class="section" id="js-section-recent">
	{{>recent}}
</section>
<section class="section" id="js-section-engage">
	{{>engage}}
</section>
<section class="section" id="js-section-bucko">
	{{>bucko}}
</section>
<section class="section" id="js-section-authentication">
	{{>authentication}}
</section>
<section class="section" id="js-section-tradeshift-api">
	{{>tradeshift-api}}
</section>
