main {
	padding: 22px;
}
.column {
	width: 330px;
}
.section {
	display: none;
}
.sidebar {
	width: 330px;
}
.main {
	position: absolute;
	right: 0;
	top: 22px;
	/* sidebar width plus some space */
	width: calc(100% - 330px - 66px);
}
table{
	font-style: 'Shift', sans-serif;
}
th{
	font-size:30px;
	width:400px;
	text-align:left;
	padding-left:10px;
	padding-bottom:20px;	
}
td{
	padding-left: 10px;
	padding-right:10px;
	padding-top:7px;
	padding-bottom:7px;
	width:400px;
}
.is-thanked button {
       display: none;
}
.thank-you-message {
       display: none;
}
.is-thanked .thank-you-message {
       display: block;
}