<h1><strong>Hi</strong></h1>
<h3>Recent Customers</h3>
<div class="container"
<ul>
<li>One</li>
<li>Two</li>
<li>Three</li>
</ul>
</div>
<div class="container">
<h3>Bring Back These Customers</h3>
<ul>
<li>Four</li>
<li>Five</li>
<li>Six</li>
</ul>
</div>
//
buttons
<button type="submit" value="Submit">Submit</button>
<button type="reset" value="Reset">Reset</button>
//