<div class="sidebar">
	<menu ts-buttons>
		<li>
			<button onclick="tradeshift.generateConnections()">
				<span>Generate connections</span>
			</button>
		</li>
		<li>
			<button onclick="tradeshift.generateDocuments()">
				<span>Generate documents</span>
			</button>
		</li>
		<li>
			<button onclick="tradeshift.generatePayments()">
				<span>Get paid $$$</span>
			</button>
		</li>
		<li>
			<button onclick="tradeshift.getAccountInfo()">
				<span>Get Account Info</span>
			</button>
		</li>
		<li>
			<button>
				<span>Get Documents</span>
			</button>
		</li>
	</menu>
</div>
<div class="main">
	<pre id="js-api-results"></pre>
</div>
